// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-bokara-grey: #141211;
$color-hint-of-red: #f4f3f2;
$color-swiss-coffee: #D7CFCB;
$color-cloudy: #aea29a;
$color-moon-mist: #c8c8b6;
$color-bokara-grey-10: rgba(20, 18, 17, 0.1);
$color-bokara-grey-20: rgba(20, 18, 17, 0.2);
$color-bokara-grey-30: rgba(20, 18, 17, 0.3);
$color-bokara-grey-40: rgba(20, 18, 17, 0.4);
$color-bokara-grey-60: rgba(20, 18, 17, 0.6);
$color-user-count: #DEDED2;
$color-phone-burger: #727254;
$color-fon-card: #EDEAE8;
$color-error: #E80E0A;
$color-text-privacy: #A6A687;

// Typography

$ff-mulish: "Mulish", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;
