.callback {
  width: 100%;
  background-color: $color-user-count;

  &__wrap {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include vp-1023 {
      padding: 50px 19px 51px;
    }

    @include vp-767 {
      padding: 40px 27px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 10px;

    @include vp-767 {
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      margin: 0 0 5px;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 58px;

    @include vp-1023 {
      margin: 0 0 48px;
    }

    @include vp-767 {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: center;
      margin: 0 0 41px;
    }
  }

  &__form {
    display: flex;
    gap: 30px;
    margin: 0 0 30px;

    @include vp-1023 {
      display: flex;
      flex-direction: column;
      margin: 0 0 10px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      gap: 27px;
    }
  }

  &__inner {
    display: flex;
    gap: 30px;

    @include vp-767 {
      flex-direction: column;
      gap: 50px;
    }
  }

  &__btn {
    width: 240px;
    padding: 21px;
    border: none;
    color: $color-white;
    background-color: $color-bokara-grey;

    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
    user-select: none;

    @include vp-1023 {
      grid-column: span 2;
      width: 100%;
    }

    @include vp-767 {
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      padding: 18px;
    }

    &:hover,
    &:focus {
      color: $color-bokara-grey;
      background-color: $color-user-count;
      outline: 1px solid $color-bokara-grey;
    }
  }

  &__privacy {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    color: $color-text-privacy;

    @include vp-767 {
      font-size: 10px;
      font-weight: 500;
      line-height: 12px;
    }
  }

  &__privacy-link {
    color: $color-text-privacy;
    text-decoration: underline;

    &:hover,
    &:focus-visible {
      color: $color-bokara-grey;
    }
  }
}
