.custom-input {
  position: relative;

  &--error {
    .custom-input__field {
      border: 1px solid $color-error;
    }

    .custom-input__error {
      display: block;
    }
  }

  &__field {
    width: 320px;
    border: 1px solid $color-bokara-grey-10;
    padding: 19px 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    background-color: $color-user-count;
    outline: none;

      @include vp-767 {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        padding: 17px 20px;
      }

    &::placeholder {
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      color: $color-bokara-grey-30;

      @include vp-767 {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
      }
    }

    &:hover,
    &:focus {
      border: 1px solid $color-bokara-grey;
    }
  }

  &__label {
    position: absolute;
    top: -21px;
    left: 0;

    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: $color-phone-burger;
  }

  &__error {
    position: absolute;
    bottom: -21px;
    left: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: $color-error;
    display: none;
  }
}
