.design {
  margin: 0 0 120px;

  @include vp-1023 {
    margin: 0 0 60px;
  }

  @include vp-767 {
    margin: 0 0 50px;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 49px 80px;

    background-image: url("/images/cozy-design-fon.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    @include vp-1023 {
      padding: 28px 40px 27px;
    }

    @include vp-767 {
      flex-direction: column;
      padding: 20px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;

    @include vp-767 {
      align-items: center;
      margin: 0 0 20px;
    }
  }

  &__title {
    font-size: 40px;
    font-weight: 400;
    line-height: 44px;
    margin: 0 0 10px;

    @include vp-1023 {
      font-size: 32px;
      font-weight: 400;
      line-height: 36px;
      margin: 0 0 5px;
    }

    @include vp-767 {
      font-size: 24px;
      font-weight: 400;
      line-height: 28px;
    }
  }

  &__text {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;

    @include vp-1023 {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    @include vp-767 {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }

  &__link {
    display: block;
    text-align: center;
    padding: 21px;
    width: 240px;
    color: $color-white;
    background-color: $color-bokara-grey;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;

    @include vp-767 {
      width: 260px;
      padding: 18px;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
    }

    &:hover,
    &:focus {
      border: 1px solid $color-bokara-grey;
      color: $color-bokara-grey;
      background-image: url("/images/cozy-design-fon.png");
    }
  }
}
