.interior-solutions {
  display: flex;
  flex-direction: column;
  margin: 0 0 120px;

  @include vp-1023 {
    margin: 0 0 60px;
  }

  @include vp-767 {
    margin: 0 0 50px;
  }

  &__title {
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.04em;
    margin: 0 0 40px;

    @include vp-1023 {
      font-size: 36px;
      font-weight: 400;
      line-height: 40px;
      letter-spacing: -0.04em;
      text-align: center;
      margin: 0 0 30px;
    }

    @include vp-767 {
      font-size: 26px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: -0.04em;
      margin: 0 0 20px;
    }
  }

  &__wrap {
    display: flex;
    gap: 60px;

    @media (max-width: 1439px) {
      gap: 40px;
    }

    @include vp-1023 {
      flex-direction: column;
      gap: 40px;
    }

    @include vp-767 {
      gap: 30px;
    }
  }

  &__inner {
    position: relative;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: none;
    background-color: $color-hint-of-red;
    cursor: pointer;

    &:hover,
    &:focus-visible {
      background-color: $color-user-count;
    }

    @include vp-1023 {
      width: 48px;
      height: 48px;
    }

    @include vp-767 {
      width: 36px;
      height: 36px;
    }

    &--armchair {
      position: absolute;
      top: 57%;
      left: 9%;

      @include vp-1023 {
        top: 58%;
        left: 14%;
      }

      @include vp-767 {
        top: 56%;
        left: 8%;
      }
    }

    &--pedestal {
      position: absolute;
      top: 67%;
      left: 49%;

      @include vp-1023 {
        top: 68%;
        left: 49%;
      }

      @include vp-767 {
        top: 67%;
        left: 47%;
      }
    }

    &--commode {
      position: absolute;
      top: 63%;
      left: 68%;

      @include vp-1023 {
        top: 64%;
        left: 65%;
      }

      @include vp-767 {
        top: 62%;
        left: 67%;
      }
    }

    &--torchere {
      position: absolute;
      top: 28%;
      left: 76%;

      @include vp-1023 {
        top: 27%;
        left: 72%;
      }

      @include vp-767 {
        top: 25%;
        left: 74%;
      }
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    color: $color-bokara-grey;

    @include vp-1023 {
      width: 15px;
      height: 15px;
    }

    @include vp-767 {
      width: 12px;
      height: 12px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px 16px;

    @include vp-1023 {
      gap: 30px 12px;
    }

    @include vp-767 {
      gap: 20px 14px;
    }
  }

  &__item {
    height: 100%;
  }

  &__card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__link {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    &:hover .interior-solutions__layout-link,
    &:focus .interior-solutions__layout-link {
      background-color: $color-user-count;
    }
  }

  &__img-card {
    width: 100%;
    background-color: $color-fon-card;
    margin: 0 0 15px;

    @media (max-width: 1179px) {
      margin: 0 0 30px;
    }

    @include vp-1023 {
      margin: 0 0 15px;
    }
  }

  &__img {
    width: 100%;
    min-height: 748px;

    @include vp-1023 {
      min-height: 500px;
    }

      @include vp-767 {
        min-height: 300px;
      }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__denomination {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: $color-black;
    text-transform: uppercase;
    margin: 0 0 5px;

    @media (max-width: 1239px) {
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
    }

    @include vp-1023 {
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
    }

    @include vp-767 {
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
    }
  }

  &__price {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin: 0 0 15px;

    @media (max-width: 1239px) {
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      margin: 0 0 13px;
    }

    @include vp-1023 {
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      margin: 0 0 13px;
    }

    @include vp-767 {
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
    }
  }

  &__layout-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 14px;
    margin: auto 0 0;
    
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    background-color: transparent;
    border: 1px solid $color-swiss-coffee;

    @include vp-767 {
      font-size: 10px;
      font-weight: 500;
      line-height: 12px;
      padding: 12px;
    }
  }
}
