.popular-products {
  margin: 0 0 120px;

  @include vp-1023 {
    margin: 0 0 60px;
  }

    @include vp-767 {
      margin: 0 0 50px;
    }

  &__title {
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.04em;
    margin: 0 0 40px;

    @include vp-1023 {
      font-size: 36px;
      font-weight: 400;
      line-height: 40px;
      letter-spacing: -0.04em;
      text-align: center;
      margin: 0 0 30px;
    }

    @include vp-767 {
      font-size: 26px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: -0.04em;
      margin: 0 0 20px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 280px 240px;
    gap: 16px;

    @include vp-1023 {
      display: flex;
      flex-wrap: nowrap;
      overflow: auto;
      gap: 12px;
      margin: 0 -30px;
      padding: 0 30px;

        @include vp-767 {
          gap: 10px;
        }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__item--beds {
    grid-column: span 2;
  }

  &__item--armchair {
    grid-column: span 2;
  }

  &__card {
    width: 100%;
    height: 100%;
    position: relative;

    @include vp-1023 {
      width: 228px;
      height: 100%;
    }

    @include vp-767 {
      width: 155px;
      height: 100%;
    }

    &--size {
      @include vp-1023 {
        width: 468px;
        height: 100%;
      }

        @include vp-767 {
          width: 320px;
          height: 100%;
        }
    }
  }

  &__link {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-bokara-grey-20;
    }

    &:hover::before,
    &:focus::before {
      background-color: $color-bokara-grey-60;
    }

    &:hover .popular-products__icon,
    &:focus .popular-products__icon {
      display: block;
    }

    &:hover .popular-products__headband,
    &:focus .popular-products__headband {
      display: none;
    }
  }

  &__headband {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: $color-white;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;

    @include vp-767 {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  &__icon {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    color: $color-white;
    display: none;
  }

  &__img {
    height: 100%;
    @include vp-1023 {
      width: 100%;
    }
  }
}
